/* Reset and Base Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    /*background-image:url("/images/image22.JPG");*/
    background-position: right top;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* main navigation //////////////////////*/
.navbar 
{
    background-color: #E4F5F4;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	position: sticky;
	top: 0;
}
.nav-brand {
	font-family: 'ArchivoNarrowRegular';
    font-size: 1.5rem;
    font-weight: bold;
    color: #272d2d;
    margin-bottom: 1rem;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.nav-links a {
    text-decoration: none;
    color: #666;
    font-weight: 500;
    transition: color 0.3s ease;
}
/* Basic link styling remove underline for the link*/
a 
{
  color: blue; 
  text-decoration: none; 
}
 /* Clicked (visited) link color */
a:visited 
{
  color: purple;
}
/* Mouseover effect on the link color , added animation*/
a:hover {
  color: red; 
  animation: blink 0.5s step-end infinite; 
  animation-delay: 2s; 
}
/*link blinking effect */
@keyframes blink {
  60% {
    opacity: 0; /* Makes the link invisible at halfway point */
  }
}
/* footer social links*/
.social
{
    display: flex;
    justify-content: flex-end;
    gap: 10px;  /* Adjust the space between images */
    margin-right: 20px;  /* Adjust the right margin if needed */
}
/* footer navigation Styles links 2025*/

.foot-links a:hover,
.foot-links a.active 
{
    color: #2f4f4f;
    font-size: 14px;
}
.foot-links a 
{
    font-size: 14px;
    text-decoration: none;
    color: #777;
    font-weight: 200;
    transition: color 0.3s ease;
}
/* Main Content section N*/
.content 
{
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}
.content-section {
    margin-bottom: 2rem;
}
li
{
	    color: #666;
}
footer {
    font-size: 12px;
    background-color: #DFDEE4;
    padding: 5px;
    text-align: center;
    color: #666;
    box-shadow: 0 -2px 2px rgba(0,0,0,0.1);
}
/* Main content styles NL*/
.main-content 
{
    flex: 1;
    padding: 2rem 1rem;
}
/* Main content styles  first about me block NL*/
.content-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #EBF1F1;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 1.5rem;
}

h2 {
    color: #444;
    margin-bottom: 1rem;
}
p {
    color: #666;
    margin-bottom: 1rem;
}

